@import 'colors';
@import 'fontfamily';
// @import 'function';

@mixin fontAndcolor() {
    color: $headerColor;
    font-family: $OpenSans ;
}

@mixin btn-tag {

    @include fontAndcolor();
    font-size: 0.625rem;
    margin-right: 15px;
    opacity: 1;
    border-radius: 20px;
    border: none;
    padding: 2px 20px;
    background-color: $tagsColor;
    line-height: 1.6;
    font-weight: 600;
}

// .btn-tag {


// }